/* General */
@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/Product Sans Regular.ttf');
}
body{
    color: black;
    letter-spacing: 0.5px;
}
a:hover{
    color: white;
}
.av-font-noto-sans-jp{
    font-family: Noto Sans JP;
    font-style: normal;
}
.av-font-product-sans{
    font-family: Product Sans;
    font-style: normal;
}
.av-font-color-i{
    color: #801C1C;
}
.av-font-color-ii{
    color: #CB3F3F;
}
.av-font-color-iii{
    color: #FFFFFF;
}
.av-font-color-iv{
    color: #570100;;
}
.av-font-color-v{
    color: #4E111C;
}
.av-font-i{
    font-size: 0.75rem;
}
.av-font-ii{
    font-size: 0.875rem;
}
.av-font-iii{
    font-size: 1rem;
}
.av-font-iv{
    font-size: 1.0625rem;
}
.av-font-v{
    font-size: 1.125rem;
}
.av-font-vi{
    font-size: 1.25rem;
}
.av-font-vii{
    font-size: 1.5rem;
}
.av-font-viii{
    font-size: 2.8125rem;
}

/* Dark Mode */
body.dark,.services-section .locate-row .locations-col a.dark:hover{
    background: #2B3648;
}
header.dark,.primary-links button.dark,.primary-links button.dd-open.dark,.services-section .card.dark,.services-section .sidebar.dark,.services-section .calculators-row.dark,.services-section .locate-row .locations-col.dark,.activities-section .support-col .row-content.dark a:hover, .activities-section .security-col .row-content.dark a:hover,.loan-section .newsletter-col.dark,footer .top-section.dark{
    background: #212936;
}
.label.dark{
    background: #CB3F3F;
}
.label .ball.dark{
    background: #E5E5E5;
}
.services-section .card.dark:hover{
    background: transparent;
}
.av-font-func button.dark,.services-section .card.dark:hover .card-title{
    color: #CB3F3F;
}
.main-nav-menu #av-main-nav a.nav-link.dark,.main-nav-menu #av-main-nav .nav-item form .search_input.dark, .mob-nav form .search_input.dark,.hero-section .left-col h1.dark,.activities-section .media-col.dark a:hover,footer .top-section.dark .col-menu-links li a:hover,.services-section .sidebar.dark .schemes:hover .scheme-details,.services-section .sidebar.dark .row-title{
    color: white;
}
.main-nav-menu #av-main-nav .nav-item form .search.dark, .mob-nav form .search.dark,.primary-links button.dark{
    border: 1px solid #8997B1;
}
.services-section .card.dark{
    border: 2px solid #8997B1;
}
.primary-links button.dark,.hero-section .left-col p.dark,.services-section .card.dark .card-title,.services-section .card.dark .card-text,.services-section .locate-row .row-title span.dark,.services-section .locate-row .locations-col a.dark,.activities-section .row-title.dark h4,.activities-section .row-content.dark h6,.loan-section .newsletter-col.dark .col-title,footer .top-section.dark .col-heading,footer .bottom-section.dark,.services-section .sidebar.dark .schemes .scheme-details{
    color: #AFBDD1;
}
.services-section .card.dark .services-icon path,.services-section .card.dark:hover .services-icon path{
    fill: #AFBDD1;
}
.services-section .card.dark .card-img-top path{
    fill: #8997B1;
}
.services-section .card.dark:hover .card-img-top path,.services-section .calculators-row.dark svg #calendar #calendar-outer path,.services-section .calculators-row.dark svg #calculator #minus,.services-section .calculators-row.dark svg #calculator #outer-body,.services-section .calculators-row.dark svg #calculator #equal-to path,.services-section .calculators-row.dark svg #calculator #multiply{
    fill: #CB3F3F;
}
.services-section .more-service-link a.dark,.activities-section .media-col.dark p{
    color: #56657f;
}
.activities-section .row-title.dark span,.activities-section .media-col.dark a,.loan-section .newsletter-col.dark .sub-title,footer .top-section.dark .col-menu-links li a{
    color: #8997b1;
}
.activities-section .row-title.dark{
    border-bottom: 1px solid #CB3F3F;
}
footer .bottom-section.dark{
    background: #171e28;
}
/* Dark Mode End*/


/* Header */
header{
    box-shadow: 0px 11px 16px -17px rgba(51, 51, 51, 0.3);
}
/* Top Bar */
.lang-btn{
    background: #F7A126;
    border-radius: 19px;
}
/* Font functionality Inc dec */
.av-font-func button,.av-font-func button:last-child{
    border: none;
    border-radius: 0;
}
.av-font-func button{
    border-right: 0.5px solid #F7A126;
}
/* Font funcionalitu Inc dec End */
/* Dark Mode Activator */
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #ffffff;
    border-radius: 24px;
    border: 1px solid #313749;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    height: 23px;
    width: 53px;
    box-sizing: border-box;
}

.label .ball {
    background: #313749;
    border-radius: 50%;
    border: 1px solid #EDEDED;
    position: absolute;
    top: 2px;
    left: 4px;
    height: 16px;
    width: 16px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(26px);
}
/* Dark Mode activator End */
/* Top Bar End */
/* Desktop Main Nav */
.main-nav-menu .site-logo{
    display: flex;
    align-self: flex-end;
}
.main-nav-menu .navbar-brand img{
    height: 115px;
}
.main-nav-menu .dropdown-toggle::after {
    content: none;
}
.main-nav-menu #av-main-nav a.nav-link{
    color: #801C1C;
    font-weight: bold;
    margin-right: 18px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    position: relative;
}
.main-nav-menu #av-main-nav .nav-item form .search,.mob-nav form .search{
    width: 182px;
    height: 38px;
    border-radius: 40px;
    border: 1px solid #801C1C;
}
.main-nav-menu #av-main-nav .nav-item form .search_input,.mob-nav form .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 80%;
    line-height: 35px;
    padding-left: 20px;   
}
.main-nav-menu #av-main-nav .nav-item form .search_icon .fa,.mob-nav form .search_icon .fa{
    font-size: 1.25rem;
    color: #CB3F3F;
}
.main-nav-menu #av-main-nav .nav-item button,#av-mob-main-nav .offcanvas-body .offcanvas-body-bottom .contact-col button,.mob-nav .mob-noti{
    background: #801C1C;
    border-radius: 50%;
    padding: .375rem .54rem;
}
.main-nav-menu #av-main-nav .nav-item i,#av-mob-main-nav .offcanvas-body .offcanvas-body-bottom .contact-col button{
    color: #FFE5BF;
    font-size: 1.5rem;
    position: relative;
}
.main-nav-menu #av-main-nav .nav-item .av-badge i::after {
    content: "3";
    position: absolute;
    background: #F7A125;
    height: 15px;
    top: -4px;
    right: 0;
    left: 7px;
    width: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    color: #4A0000;
    font-weight: bold;
    border: 1px solid #F7A125;
}
.main-nav-menu #av-main-nav a.nav-link::before{ /* Border below link */
    content: "";
    position: absolute;
    top: 30px;
    height: 5px;
    width: 0;
    border-bottom: 3px solid #CB3F3F;
}
.main-nav-menu #av-main-nav a.nav-link.active::before{
    width: 100%;
}
.main-nav-menu #av-main-nav a.nav-link:hover::before,.main-nav-menu #av-main-nav a.nav-link:focus::before{ /* Border width animation on hover on link */
    width: 100%;
    transition: all 0.5s;
}
.main-nav-menu #av-main-nav .menu-links .dropdown-menu{
    width: 300px;
    max-width: 300px;
}
.main-nav-menu #av-main-nav .dropdown-menu{
    background: #FFFFFF;
    box-shadow: -8px 8px 20px -13px rgba(107, 26, 41, 0.5);
    border-radius: 16px;
    border: 0;
}
.main-nav-menu #av-main-nav .dropdown-menu li{
    padding-left: 30px;
}
.main-nav-menu #av-main-nav .menu-links .dropdown-menu li:first-child{
    padding-top: 16px;
}
.main-nav-menu #av-main-nav .menu-links .dropdown-menu li:last-child{
    padding-bottom: 16px;
}
.main-nav-menu #av-main-nav .menu-links .dropdown-menu .dropdown-item:hover{
    background: #FFE5BF;
    width: fit-content;
    border-radius: 11.8148px;
}
.main-nav-menu #av-main-nav .notification .dropdown-menu{
    width: 516px;
    max-width: 516px;
}
.main-nav-menu #av-main-nav .notification .dropdown-menu .dropdown-item:hover{
    background: #FFF9F0;
}
.main-nav-menu #av-main-nav .notification .dropdown-menu .dropdown-item a.unread-notification,.main-nav-menu #av-main-nav .notification .dropdown-menu .dropdown-item a.unread-notification:hover{
    color: #CB3F3F;
}
.main-nav-menu #av-main-nav .notification .dropdown-menu .dropdown-item a.read-notification,.main-nav-menu #av-main-nav .notification .dropdown-menu .dropdown-item a.read-notification:hover{
    color: #9F9F9F;;
}
.main-nav-menu #av-main-nav .notification .dropdown-menu .dropdown-divider{
    width: 80%;
    border-top: 0.5px solid #E3E3E3;
    margin: auto;
}
.main-nav-menu #av-main-nav .notification .dropdown-menu .all-notification:hover{
    color: #570100;
}

/* Desktop Main Nav End*/
/* Mobile Nav Bar */
.mob-nav .av-badge{
    width: 33px;
    height: 33px;
    padding: 1px;
}
.mob-nav .av-badge i{
    position: relative;
    color:#FFE5BF;
}
.mob-nav .av-badge i::after {
    content: "3";
    position: absolute;
    background: #F7A125;
    height: 15px;
    top: -4px;
    right: 0;
    left: 7px;
    width: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    color: #4A0000;
    font-weight: bold;
    border: 1px solid #F7A125;
}
#av-mob-main-nav.offcanvas{
    background: #CB3F3F;
    box-shadow: 0px -8px 20px 10px rgba(0, 0, 0, 0.25);
}
#av-mob-main-nav .offcanvas-end{
    max-width: 313px;
}
#av-mob-main-nav .offcanvas-header button{
    background: #801C1C;
}
#av-mob-main-nav .offcanvas-header button i{
    color: #FFE5BF;
}
#av-mob-main-nav .offcanvas-body .offcanvas-body-bottom .contact-col button{
    font-size: 1rem;
}
#av-mob-main-nav .accordion .accordion-item,#av-mob-main-nav .accordion .accordion-button,.mob-footer .accordion .accordion-item,.mob-footer .accordion .accordion-button{
    background-color: transparent;
    border: none;
}
#av-mob-main-nav .accordion .accordion-button:not(.collapsed){
    color: white;
}
#av-mob-main-nav .accordion .accordion-button:focus,.mob-footer .accordion .accordion-button:focus{
    box-shadow: none;
}
#av-mob-main-nav .accordion .accordion-button::after{
    background: url('../svg/chevron-down-solid.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: all 0.5s;
}
#av-mob-main-nav .accordion .accordion-body{
    background: white;
}
#av-mob-main-nav .accordion .accordion-body ul li:last-child{
    padding-bottom: 0.5rem;
}
/* Mobile Nav Bar End*/
/* Header End */


/* Home Page */
section,footer{
    margin-top: 90px;
}
/* Primary Links */
.primary-links .dropdown .dropdown-toggle{
    margin-right: 1rem;
}
.primary-links .dropdown #p-link-btn3{
    margin-right: 0;
}
.primary-links button{
    background: #FFFFFF;
    border: 1px solid #CB3F3F;
    box-shadow: -4px 5px 14px -6px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    width: 237px;
    line-height: 39px;
}
.primary-links button.dd-open{
    background: #CB3F3F;
    color: #FFDAA5;
    box-shadow: -4px 5px 14px -6px rgba(0, 0, 0, 0.3);
}
.primary-links button.dd-open:hover{
    color: #FFDAA5;
}
.primary-links button::after{
    content: none;
}
.primary-links button:hover{
    color: #CB3F3F;
}
.primary-links button .btn-arrow{
    transition: all 0.5s;
}
.primary-links button i{
    font-size: 20px;
}
.primary-links button.dark .p-link-before-icons{
    color: #CB3F3F;
}
.primary-links .dropdown-menu{
    background: #CB3F3F;
    border-radius: 12px;
    min-width: 45vw;
    width: 100%;
}
.primary-links .dropdown-menu div ul li{
    width: fit-content;
}
.primary-links .dropdown-menu .dropdown-header{
    color: #FFDAA5;
}
.primary-links .dropdown-menu .dropdown-item{
    color: #FFFFFF;
    position: relative;
}
.primary-links .dropdown-menu .dropdown-item:hover{
    background: none;
    color: #FFDAA5;
}
.primary-links .dropdown-menu .dropdown-item::before{ /* Border below link */
    content: "";
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 0;
    border-bottom: 1px solid #FFDAA5;
}
.primary-links .dropdown-menu .dropdown-item.active::before{
    width: 100%;
}
.primary-links .dropdown-menu .dropdown-item:hover::before,.primary-links .dropdown-menu .dropdown-item:focus::before{ /* Border width animation on hover on link */
    width: 100%;
    transition: all 0.5s;
}
/* Primary Links End*/

/* Hero Section */
.hero-section .left-col .btn{
    background: #CB3F3F;
    border-radius: 28px;
}
.hero-section .left-col .btn:hover{
    background: #F36767;
    color: #FFFFFF;
}
.hero-section .right-col .carousel .carousel-inner{
    border-radius: 18px;
}
.hero-section .right-col .carousel .slider-controls{
    opacity: 0;
}
.hero-section .right-col .carousel:hover .slider-controls{
    opacity: 1;
}
.hero-section .right-col .carousel .slider-controls img{
    background-image: none;
    height: 48px;
    width: 48px;
}
.hero-section .right-col .carousel .carousel-indicators{
    margin-bottom: 5px;
}
.hero-section .right-col .carousel .carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    background: #CB3F3F;
    border-radius: 50%;
    border: none;
}
/* Hero Section End*/

/* Services Section */
.services-section .right-col{
    padding-left: 60px;
}
.services-section .card{
    background: #FFFFFF;
    border: 2px solid #CB3F3F;
    box-sizing: border-box;
    border-radius: 16px;
    min-height: 160px;
    padding: 0 30px;
}
.services-section .card .services-icon{
    position: absolute;
    right: 15px;
    top: 10px;
}
.services-section .card a{
    color: #CB3F3F;
}
.services-section .card .card-title{
    margin-bottom: 0;
}
.services-section .card .card-img-top{
    width: 34%;
}
.services-section .card .card-body{
    flex: inherit;
    padding: 0;
}
.services-section .card .card-text{
    visibility: hidden;
    max-height: 0;
    color: #FFE5BF;
}
.services-section .card:hover img,.services-section .card:hover .card-body *{
    transition: all 0.5s;
}
.services-section .card:hover{
    background: #CB3F3F;
    transition: all 0.5s;
}
.services-section .card:hover .services-icon path{
    transition: all 0.3s;
    fill: #DE500D;
}
.services-section .card:hover a{
    color: #FFFFFF;
}
.services-section .card:hover .card-title{
    margin-bottom: 5px;
}
.services-section .card:hover .card-text{
    visibility: visible;
    padding-bottom: 10px;
    max-height: unset;
}
.services-section .card:hover .card-img-top path{
    fill: white;
    transition: all 0.5s;
}
.services-section .calculators-row{
    background: #FFF9F0;
    border-radius: 12px;
}
.services-section .calculators-row .btn{
    background: #CB3F3F;
    border-radius: 10px;
    line-height: 29px;
}
.services-section .calculators-row .btn:hover,.loan-section .loan-col .btn:hover{
    background: #F36767;
    color: #FFFFFF;
}
.services-section .locate-row .row-title span{
    color: #570100;
}
.services-section .locate-row .locations-col{
    background: #570100;
    border-radius: 12px;
}
.services-section .locate-row .locations-col a{
    font-weight: 500;
}
.services-section .locate-row .locations-col a:hover{
    background: #720706;
    color: white;
    border-radius: 12px;
    transition: all 0.5s;
}
.services-section .more-service-link a{
    font-weight: 300;
    color: black;
}
.services-section .sidebar{
    background: #CB3F3F;
    border-radius: 12px;
}
.services-section .sidebar .row-title{
    background: #570100;
    border-radius: 12px;
    color: #FFE5BF;
}
.services-section .sidebar .schemes{
    padding-left: 5px;
    padding-right: 20px;
}
.services-section .sidebar .scheme-img img{
    max-width: 70px;
}
.services-section .sidebar .schemes:hover .scheme-details{
    color: #FFE5BF;
}
.services-section .sidebar .scheme-title{
    font-weight: 500;
}
.services-section .sidebar .scheme-content{
    font-weight: 400;
}
.services-section .sidebar .all-scheme-link .btn{
    background: #F7A125;
    border-radius: 12px;
    color: #570100;
    position: relative;
    top: 50%;
    padding: 10px 40px
}
.services-section .sidebar .all-scheme-link .btn:hover,.loan-section .newsletter-col form button:hover,footer .contact-us-row .social-btn:hover{
    background: #FFE5BF;
    transition: all 0.5s;
}
/* Services Section End*/

/* Activities Section */
.activities-section,.activities-section .media-col a{
    font-weight: 500;
}
.activities-section .row-title{
    border-bottom: 1px solid #801C1C;
}
.activities-section .row-title h4{
    font-weight: 300;
}
.activities-section .row-title>*,.activities-section .row-content div{
    padding-left: 0;
    padding-right: 0;
}
.activities-section .row-content h6{
    color: #490909;
}
.activities-section .media-col img{
    max-width: 126px;
    border-radius: 12px;
}
.activities-section .media-col p{
    font-weight: 300;
}
.activities-section .media-col a:hover{
    color: #F36767;
    transition: all 0.5s;
}
.activities-section .media-col hr{
    width: 80%;
    margin: auto;
    border-top: 1px solid #F7A125;
}
.activities-section .support-col .row-content a,.activities-section .security-col .row-content a{
    height: 60px;
    max-height: 60px;
    border-radius: 13px;
}
.activities-section .support-col .row-content a:hover,.activities-section .security-col .row-content a:hover{
    background: #FFF9F0;
    transition: all 0.5s;
}
/* Activities Section End*/

/* Loans Section */
.loan-section .newsletter-col{
    background: #CB3F3F;
    border-radius: 12px;
}
.loan-section .newsletter-col .sub-title{
    font-weight: 300;
}
.loan-section .newsletter-col form input{
    background: #FFFFFF;
    border-radius: 12px;
    line-height: 35px;
}
.loan-section .newsletter-col form button{
    background: #F7A125;
    border-radius: 12px;
    color: #570100;
    line-height: 28px;
}
.loan-section .newsletter-col form input::placeholder{
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #D0D0D0;
}
.loan-section .agri-loan{
    background-image: url('../img/Agri\ Loans.jpg');    
}
.loan-section .vehicle-loan{
    background-image: url('../img/Vehicle\ Loans.jpg');
}
.loan-section .loan-col{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-position: center;
}
.loan-section .loan-col h1{
    line-height: 49px;
    padding-right: 25%;
}
.loan-section .loan-col .btn{
    background: #CB3F3F;
    border-radius: 18px;
}
/* Loans Section End*/
/* Home Page End*/


/* Footer */
footer .top-section{
    background: #4E111C;
}
footer .top-section .col-heading{
    color: #FFE5BF;
}
footer .top-section .col-menu-links li a{
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-weight: 500;
}
footer .top-section .col-menu-links li a:hover{
    color: #FFE5BF;
    transition: all 0.5s;
}
footer .contact-us-row div[class*='col']{
    margin-top: -70px;
    width: fit-content;
}
footer .contact-us-row .btn{
    background: #801C1C;
    border-radius: 52px;
    color: white;
    margin-right: 0.25rem;
}
footer .contact-us-row .btn.contact-btn:hover{
    background: #D55353;
    transition: all 0.5s;
}
footer .contact-us-row .social-btn, #av-mob-main-nav .offcanvas-body .offcanvas-body-bottom .social-col .social-btn{
    background: #F7A126;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 0;
    padding-top: 2px;
}
footer .contact-us-row .social-btn img{
    width: 18px;
    height: 18px;
}
footer .bottom-section{
    background: #38000A;
    color: white;
    font-weight: 500;
}
/* Mob Footer */
.mob-footer .accordion .accordion-button::after{
    background: url('../svg/chevron-down-solid-footer.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: all 0.5s;
}
.mob-footer .accordion .accordion-button{
    border-bottom: 0.5px solid #CB3F3F;
}
/* Mob Footer End*/
/* Footer End*/


/* Max Media Quries */
@media (max-width:1399.98px){
    .main-nav-menu #av-main-nav a.nav-link{
        margin-right: 18px;
    }
}
@media (max-width:1200px){
    .av-font-ii {
        font-size: 0.75rem;
    }
    .av-font-vii{
        font-size: 1.25rem;
    }
    .main-nav-menu .navbar-brand img{
        height: 90px;
    }
    .main-nav-menu #av-main-nav a.nav-link{
        margin-right: 16px  ;
    }
    .main-nav-menu #av-main-nav .nav-item form .search{
        width: 148px;
    }
    .main-nav-menu #av-main-nav .nav-item button{
        width: 30px;
        height: 30px;
        padding: 2px;
    }
    .main-nav-menu #av-main-nav .nav-item i{
        font-size: 1rem;
    }
    .services-section .card{
        min-height: 141px;
        padding: 0 20px;
    }
    .services-section .calculators-row,.loan-section .row,.locate-row, .activities-section .row{
        margin: auto;
    }
    .services-section .right-col{
        padding-left: 28px;
    }
    .activities-section .media-col img{
        width: 100px;
    }
}
@media (max-width:991.98px){
    .av-font-i{
        font-size: 0.5rem;
    }
    .av-font-ii{
        font-size: 0.875rem;
    }
    .av-font-vii{
        font-size: 1.5rem;
    }
    .av-font-viii{
        font-size: 2.5rem;
    }
    .primary-links button{
        width: 196px;
    }
    .hero-section .right-col{
        padding-left: 0;
        padding-right: 0;
    }
    .hero-section .right-col .carousel .carousel-inner{
        border-radius: 0;
    }
    .services-section .card .card-text{
        font-size: 0.75rem;
    }
    .services-section .locate-row .locations-col{
        display: grid;
        justify-content: center;
    }
    .activities-section .media-col .row-content div{
        padding-right: 25px;
    }
    .loan-section .loan-col{
        height: 260px;
        max-height: 260px;
        width: 48%;
    }
    .loan-section .newsletter-col{
        border-radius: 0;
    }
    footer{
        margin-top: 0;
    }
    footer .contact-us-row div[class*='col']{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}
@media (max-width:767.98px){
    .av-font-iv{
        font-size: 1.0625rem;
    }
    .av-font-viii{
        font-size: 1.875rem;
    }
    .p-link-before-icons{
        visibility: hidden;
        max-width: 0;
    }
    .main-nav-menu .navbar-brand img{
        height: 70px;
    }
    .primary-links .dropdown .dropdown-toggle{
        margin-right: 0;
        width: 178px;
    }
    .primary-links .dropdown-menu{
        width: min-content;
    }
    .services-section .card{
        width: 182px;
        height: 154px;
        margin: auto;
    }
    .services-section .card .card-title{
        font-size: 1.125rem;
    }
    .services-section .right-col,.services-section .left-col{
        padding-left: 0;
        padding-right: 0;
    }
    .services-section .sidebar .row-title{
        width: 80%;
    }
    .services-section .sidebar{
        border-radius: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .services-section .sidebar .all-scheme-link .btn{
        top: 0;
    }
    .services-section .calculators-row div,.services-section .locate-row .locations-col{
        display: grid;
        justify-content: center;
    }
    .services-section .calculators-row div img{
        margin: auto;
    }
    .services-section .locate-row .locations-col{
        border-radius: 0;
    }
    .loan-section .loan-col{
        width: 100%;
    }
    section{
        margin-top: 60px;
    }
    footer .contact-us-row div[class*='col']{
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    footer .contact-us-row div[class*='col']:first-child{
        margin-top: 30px;
    }
}
@media (max-width: 575px){
    .av-font-iv {
        font-size: 0.875rem;
    }
    .primary-links .dropdown .dropdown-toggle{
        width: 126px;
        line-height: 26px;
        border-radius: 12px;
    }
    .primary-links button i{
        font-size: 15px;
    }
    .main-nav-menu .navbar-brand img{
        height: 80px;
    }
    .main-nav-menu #av-main-nav .nav-item form .search, .mob-nav form .search{
        width: 160px;
        height: 30px;
    }
    .main-nav-menu #av-main-nav .nav-item form .search_input, .mob-nav form .search_input{
        line-height: 27px;
    }
    .main-nav-menu #av-main-nav .nav-item form .search_icon .fa, .mob-nav form .search_icon .fa{
        font-size: 1.125rem;
    }
    .services-section .card{
        width: auto;
    }
    .activities-section .media-col .row-content div{
        padding-right: 0;
    }
}
@media (max-width:424.98px){
    .main-nav-menu .navbar-brand img{
        height: 74px;
    }
    .main-nav-menu #av-main-nav .nav-item form .search, .mob-nav form .search{
        width: 129px;
    }
    .main-nav-menu #av-main-nav .nav-item form .search_input, .mob-nav form .search_input{
        width: 76%;
    }
    .primary-links .dropdown .dropdown-toggle{
        width: auto;
    }
}
@media (max-width: 374.98px){
    .main-nav-menu #av-main-nav .nav-item form .search, .mob-nav form .search{
        width: 104px;
    }
    .main-nav-menu #av-main-nav .nav-item form .search_input, .mob-nav form .search_input{
        width: 70%;
    }
    .main-nav-menu .navbar-brand img{
        height: 65px;
    }
    .primary-links .dropdown .dropdown-toggle{
        width: 100px;
    }
    .services-section .card{
        height: auto;
    }
    .services-section .card .card-text{
        font-size: 0.59rem;
    }
}